body{
    background-color: black;
    margin: 0;
    padding: 20px;
    color: blue;
}

h1{
    color: green;
    text-align: center;
    margin-bottom: 10px;
}    

h4{
    color: brown;
}   

.classses{
    display: flex;
    flex-wrap: wrap;
    gap: 20px
    justify-content: space-between;
}