body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: #4CAF50; 
    color: white; 
    padding: 20px; 
    text-align: center;
}
a {
    color: #e74c3c;
    text-decoration: none; 
}
footer {
    background-color: #2c3e50;
    color: blue; 
}